@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth;
}
@layer components {
  .btn-primary {
    @apply btn bg-slate-800 hover:bg-slate-500 text-white;
  }
  .btn-danger {
    @apply btn bg-red-800 hover:bg-red-500 text-white;
  }
  .allContainer {
    @apply max-w-7xl mx-auto px-3;
  }
  .disabled-input {
    @apply bg-slate-400 border-slate-400 focus:outline-none;
  }
  .section-head {
    @apply text-3xl md:text-5xl text-center pt-5 pb-8;
  }
}
.popularClassImg:hover .popularClassBtn {
  color: #fff !important;
}
.darkTheme {
  background-color: #212121;
  color: #fff;
}
.Outlet {
  min-height: calc(100vh - 406px);
}
.active {
  color: #fff;
  background-color: #b91c1c;
}
.bg-banner {
  background-color: rgba(255, 0, 0, 0.39);
}
