@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply btn bg-slate-800 hover:bg-slate-500 text-white;
  }
  .btn-danger {
    @apply btn bg-red-800 hover:bg-red-500 text-white;
  }
  .allContainer {
    @apply max-w-7xl mx-auto px-3;
  }
  .disabled-input {
    @apply bg-slate-400 border-slate-400 focus:outline-none;
  }
}
/* .box-shadow:hover {
  overflow: hidden;
  position: relative;
  transition: 0.4s cubic-bezier(0.25, 1, 0.5, 1);
  padding: 28px 28px 32px;
  border-radius: 8px;
  background-color: #fff;
  border: 2px solid #d2d2d2;
} */
